@charset "UTF-8";
/* CSS Document */
* {
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

div#main_container {	
  border: thin #f2f2f2 solid; 
  width: 1024px; 
  padding: auto;
  margin: 0 auto; 
  background-color: white; 
  background-color: #fcfcfc;
}

div#header {
  width: 1024px; 
  height: 200px; 
  background-image: url(/images/header.png); 
  background-repeat: no-repeat; 
  border-bottom: dotted #41A8DF 2px;
}

div#logo_container {
  width:250px; 
  height:70px; 
  background-image:url(/images/samplogo.png); 
  background-repeat:no-repeat; 
  background-position:center; 
  margin:0 0 0 10px;
}

div#nav_links {
  width:350px; 
  height:30px; 
  float:right; 
  margin-right:100px; 
  margin-top:93px;
}

div#nav_links li {
  display:inline; 
  padding:5px 10px;
}

div#nav_links li a:link, div#nav_links li a:visited	 {
  font-size:14px;
  text-decoration:none;
  color:#FFFFFF;
}

div#nav_links li a:hover {
  color:#3399FF; 
  font-size:14px;
}

li.current_tab {
  background-color:#B1C0C9;
}

li.unused_tab {
  background-color:#467082;
}

div#container {
  background-color:white;
  width:1020px; 
  clear:both; 
  padding-bottom:20px;
  margin-left:2px;
}

div.content_container {
  width:920px;
  margin:auto;
  padding:5px;
}

div.content_container2 {
  width:430px;
  margin-left:45px;
  float:left;
  padding:5px;
}

div.content_container3 {
  width:430px;
  margin-left:50px;
  float:left;
  padding:5px;
}

div.content_container4 {
  width:920px;
  margin:auto;
  padding:5px;
  border-bottom:#CEC5AF dashed thin;
}

p {
  font-size:12px;
  color:#4d4d4d; 
  text-align:justify;
  line-height:17px;
}

a.more {
  font-size:12px; 
  color:#cc0000;
  float:right;
  text-decoration:none;
}

a.more:hover {
  color:#ED0606;
}

div#footer {
  background-color:#41A8DF;
  background-image:url(/images/footer.png); 
  background-repeat:no-repeat; 
  width:1024px; 
  height:130px; 
  margin-top:20px;
}

div#footer_container {
  width:1000px; 
  height:130px;
  margin-left:10px; 
  background-color:transparent;
}

div.footer_links ul { 
  width:100px; 
  float:left;
  text-align:center;
  margin-left:60px;
  margin-right:20px;
}

div.footer_links ul li	{
  display:block;
  margin-top:20px;
  list-style: none;
}

div.footer_links li a {
  color:#FFFFFF;
  font-size:12px;
  text-decoration:none;
}

div.footer_links li a:hover {
  color:#333333;
}

h3 {
  color:#cc0000;
}

p#sort {
  color:#BF1E2D; 
  width:210px;
  margin-left:20px;
  padding-top:15px;
  float:left;
}

p#sort a {
  color:#BF1E2D; 
  font-size:12px;
  text-decoration:none;
}

p#sort a:hover {
  color:#ED0606;
}

ul.page	{
  width:200px; 
  float:right; 
  clear:both;
  margin-right:10px;
}

ul.page li {
  display:inline; 
  padding-left:10px;
}

ul.page li a {
  color:#BF1E2D;
  font-size:14px;
  text-decoration:none;
}

ul.page li a:hover {
  color:#ED0606;
}

p.project_info {
  width:160px; 
  float:right; 
  margin-right:5px; 
  color:#5F6252; 
  margin-top:0;
  margin-bottom:0;
}

h4 {
  padding:auto; 
  margin:0 0 10px 0; 
  width:140px; 
  color:#BF1E2D;
}

a h4 {
  color:#BF1E2D;
}

a h4:hover {
  color:#ED0606;
}

a.project_name {
  color:#BF1E2D;
  font-size:16px;
  text-decoration:none;
}

a.project_name:hover {
  color:#ED0606;
}

p.proj_sum {
  margin:5px 10px 0 5px; 
  text-align:justify;
} 

ul.edit_delete {
  padding:0; 
  width:100px; 
  margin-right:10px; 
  margin-top:10px; 
  margin-bottom:auto;
  float:right;
}

ul.edit_delete li	{
  display:inline; 
  margin:0 0 0 10px;
}

ul.edit_delete li a	{
  font-size:12px; 
  color:#BF1E2D;
  text-decoration:none;
}

ul.edit_delete li a:hover {
  color:#ED0606;
}

div.proj_container {
  width:670px;
  padding:5px;
  float:left;
  margin-left:50px;
	
}

div.info_container {
  border-left:dashed #CEC5AF thin;
  border-right:dashed #CEC5AF thin;
  width:200px;
  float:left;
  margin-left:20px;
  padding:5px;
  margin-top:60px;
}

p#back {
  padding:auto;  
  margin-top:15px; 
  width:180px;	
}

p#back a {
  color:#BF1E2D; 
  font-size:14px;
}

p#back a:hover {
  color:#ED0606;
}

a#link {
  margin:0 0 10px 0; 
  font-size:12px; 
  color:#69A042;
  text-decoration:none;
}

a#link:hover {
  color:#84C153;
}

div#comment_container {
  width:670px; 
  margin:50px 0 0 0; 
  padding:5px;
}

div.comment	 {
  width:600px; 
  border-top:dashed thin #CEC5AF; 
  border-bottom:dashed thin #CEC5AF;
}

p.name {
  width:150px; 
  margin:10px 0 10px 5px; 
  font-size:14px; 
  color:#bf1e2d;
}

p.response {
  margin:10px 0 10px 5px;
}

div#input_comment {
  background-color:#E6E6E6; 
  width:600px; 
  height:160px; 
  margin-top:20px;
  padding-top:5px;
}

form#comment_form { 
  margin:0 30px 10px 30px; 
  background-color:#FFFFFF;
  height:85px;
  width:540px;
}

form#comment_form textarea {
  height:80px;
  width:540px;
  font-size:12px;
}

a#submit {
  border-right:thin solid #999999; 
  border-bottom:thin solid #999999; 
  background-color:#F1EAD6; 
  padding:5px 10px 5px 10px; 
  font-size:14px; 
  margin-left:260px; 
  color:#7A7C7F;
  text-decoration:none;
}

a#submit:hover {
  color:#9B9C9E;
  border-top:thin solid #999999; 
  border-left:thin solid #999999;
  border-right:white;
  border-bottom:white;
}

p#date {
  width:80px;
  float:right;
  margin:auto;
  margin-top:10px;
  color:#CEC5AF;
}

div.resource_container {	
  width:600px; 
  height:200px; 
  margin-left:50px; 
  margin-top:60px;
  border:thin black solid;
}

div.resource_box {
  width:250px;
  float:left; 
  margin-left:40px;
  margin-top:20px;
  border-right:thin dashed #CEC5AF;
  border:thin black solid;
}

div.title {
  border-bottom:thin dashed #CEC5AF; 
  width:250px; 
  height:20px; 
  padding:0;
}

div.resource {
  width:250px;
}

div.resource li {
  list-style-type:none;	
}

div.resource li a {
  color:#CEC5AF;
  text-decoration:none;
  font-size:14px;
}

div.resource li a:hover {
  color:#4d4d4d;
}

.resource ul {
  padding: 0;
  margin: 0;
}