	<div class="content_container">
		<h2>What is cebu.rb</h2>
    
    	<p>Community Web sites serve as bridges that enable people to interact in achieving a similar objective. Such functionality smoothes the path of the member for a limited period surrounding a given activity. <b>cebu.rb</b> is a Ruby on Rails developers and enthusiasts community. It is established in May 2008. The community fosters a team of RoR practitioners who help each other in learning RoR technologies and in developing open source projects. Aims are to build the <b>cebu.rb</b> community's visibility to developers and students who want to learn Ruby on Rails. Help the <b>cebu.rb</b> community and others learn about the technology. Strengthen the <b>cebu.rb</b> community through series of related projects. Provide awareness and convince developers to switch to Ruby on Rails.</p>
		<h2>cebu.rb Goals</h2>
<p>- build the <b>cebu.rb</b> community's visibility to developers and students who want to learn Ruby on Rails.<br />- help the <b>cebu.rb</b> community and others learn about the technology<br />- strengthen the <b>cebu.rb</b> community through series of related projects<br />- provide awareness and convince developers to switch to Ruby on Rails</p>
 	</div>